<div class="container">
  <h1>AI Image Tagger</h1>

  <div class="card" *ngIf="!isLoggedIn">
    <h3>Yönetici Girişi <hr></h3>
    <div class="input-group">
      <input type="text" [(ngModel)]="loginData.username" placeholder="Kullanıcı Adı" class="token-input">
      <hr>
      <input type="password" [(ngModel)]="loginData.password" placeholder="Şifre" class="token-input">
    </div>
    <hr>
    <button (click)="onLogin()" class="upload-btn">Giriş Yap</button>
  </div>

  <div *ngIf="isLoggedIn">
    <div class="card">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
        <span>Hoş geldin, <strong>{{ loginData.username }}</strong></span>
        <hr>
        <button (click)="logout()" class="logout-btn" style="background: #dc3545; color: white; border: none; padding: 5px 10px; cursor: pointer;">Çıkış Yap</button>
      </div>
      
      <h3>Görüntü Analizi</h3>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input">
      
      <button (click)="onUpload()" [disabled]="!selectedFile" class="upload-btn">
        Analiz Et
      </button>
    </div>

    <div class="result-box" *ngIf="result">
      <h4>Tespit Edilen Nesneler:</h4>
      <ul>
        <li *ngFor="let item of result.analysis?.object_counts | keyvalue">
          <strong>{{ item.key }}:</strong> {{ item.value }} adet
        </li>
      </ul>
      <hr>
      <p><strong>Keywords:</strong> {{ result.analysis?.keywords?.join(', ') }}</p>
      <p><strong>İşlem Süresi:</strong> {{ result.processing_time_ms }} ms</p>
      
      <details>
        <summary>Ham Veriyi Gör (JSON)</summary>
        <pre>{{ result | json }}</pre>
      </details>
    </div>
  </div>
</div>